---
layout: layout.liquid
title: Planetary Playing Cards
---

<h1>Planetary Playing Cards</h1>

<div class=grid>
    <div class='cell one'>
     <div class=planet></div>
     <span class=planetName>Testing</span>
     <span class=secondaryText>OtherText</span>
    </div>
    <div class='cell two'>
     <div class=planet></div>
     <div class=planetName>Testing</div>
     <div class=secondaryText>OtherText</div>
    </div>
    <div class='cell'>
     <div class=planet></div>
     <div class=planetName>Testing</div>
     <div class=secondaryText>OtherText</div>
    </div>
    <div class='cell'>
     <div class=planet></div>
     <div class=planetName>Testing</div>
     <div class=secondaryText>OtherText</div>
    </div>
    <div class='cell'>
     <div class=planet></div>
     <div class=planetName>Testing</div>
     <div class=secondaryText>OtherText</div>
    </div>
    <div class='cell'>
     <div class=planet></div>
     <div class=planetName>Testing</div>
     <div class=secondaryText>OtherText</div>
    </div>
    <div class='cell'>
     <div class=planet></div>
     <div class=planetName>Testing</div>
     <div class=secondaryText>OtherText</div>
    </div>
    <div class='cell'>
     <div class=planet></div>
     <div class=planetName>Testing</div>
     <div class=secondaryText>OtherText</div>
    </div>
    <div class='cell'>
     <div class=planet></div>
     <div class=planetName>Testing</div>
     <div class=secondaryText>OtherText</div>
    </div>
</div>