body {
    font-family: Helvetica, sans-serif;
    color: white;
    background: #2D3142;
    padding: 0 40px;
    text-align: left;
}

h1 {
    font-size: 4em;
    letter-spacing: -2px;
    padding-top: 50px;
}