:root{
    --large-planet-size: 250px;
    --small-planet-size: 100px;
    --main-background-color: #1f1f1e;
    --cell-background-color: lightgray;
}

body {
    font-family: Helvetica, sans-serif;
    color: white;
    background: var(--main-background-color);
    padding: 0 40px;
    text-align: left;
}

h1 {
    font-size: 4em;
    letter-spacing: -2px;
    padding-top: 50px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: 15em;
    gap: 40px;
}

.cell {
    background: var(--cell-background-color);
    color: black;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

.cell.one {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    font-size: 40px;
}

.cell.one .planet {
    height: var(--large-planet-size);
    width: var(--large-planet-size);
    background-color: white;
    border-radius: 50%;
    margin: 50px 40px;
}

.planet {
    height: var(--small-planet-size);
    width: var(--small-planet-size);
    background-color: white;
    border-radius: 50%;
    margin: 30px 120px;
}

.cell.one span.planetName {
    font-size: 50px;
    margin: 80px;
}

.cell.one span.secondaryText {
    font-weight: normal;
    font-size: 30px;
}

.planetName {
    font-size: 30px;
}

.secondaryText {
    font-weight: normal;
    font-size: 20px;
    padding-top:5px;
}